<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchScreenBackground</string>
	</dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Chiaki needs local network access to discover and connect to PlayStation consoles on your network.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Chiaki uses the microphone to enable voice chat during your remote play sessions.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Chiaki uses Bluetooth to connect and communicate with your PlayStation DualSense or DualShock 4 controllers.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_psremoteplay._tcp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
